body{
    background-image: url(./img/bg.jpg);
    background-attachment: fixed ;
    background-size: cover;
}

.card{
    box-shadow: 2px 2px 20px black;
    background: rgba(48, 48, 48, 0.7) !important;
}

header{
    position: relative !important;
}


nav{
    position: sticky!important;
    top: 0!important;
    left: 0;
    right: 0;
    z-index: 3;
}